# copy this sample to .env and fill in the values if you want to use ClearML
CLEARML_WEB_HOST=get_value_from_workshop
CLEARML_API_HOST=get_value_from_workshop
CLEARML_FILES_HOST=get_value_from_workshop
CLEARML_API_ACCESS_KEY=get_value_from_web_host_after_login
CLEARML_API_SECRET_KEY=get_value_from_web_host_after_login
